body { padding: 1px; }

#title {
	padding: 10px;
	font-weight: bold;
	color: #3333ff;
}


#results {
	padding: 10px;
	font-size: 75%;
}

#theQuestion {
	padding: 10px;
	font-size: 125%;
	font-weight: bold;
}

#theAnswer {
	padding: 10px;
	font-size: 125%;
	font-weight: bold;
}

#feedback {
	padding: 10px;
}
